extends layout
block content
    header.card-header
        h4.card-title Register Manager
    form(method="POST" action='/register/manager')
        div.form-row
            div.col.form-group
                label Username
                input.form-control(name="username")
            div.col.form-group
                label Password
                input.form-control(type="password" name="password")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register 
            

                            