extends layout
block content
    header.card-header
        h4.card-title Register Expenses
    form(method="POST" action='/register/expenses')
        div.form-row
            div.col.form-group
                label Item type
                select.form-control(name="item")
                    option(value="polish")  Polish
                    option(value="detergent") Powdered detergents
                    option(value="electricity") Electricity units
            div.col.form-group
                label Amount
                input.form-control(type="number" name="amount")
        div.form-row
            div.col.form-group
                button.btn.btn-primary.btn-block Register 
                

                            