doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./bootstrap-4.0.0-dist/css/bootstrap.css')
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='user.css')
  title Document
header
  h2 NAME
  .circle
.container
  ul
    li SIGN OUT
    li
      | OTHER USERS
      ul
        li
          .circle.small-c.inline-block
          |  User1
        li
          .circle.small-c.inline-block
          |  User2
    li ADD USER
