*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.inline-block{
    display: inline-block;
}

.margin-auto{
    margin: 0 auto;
}

.fit-content{
    width: fit-content;
}

nav{
    background-color: rgba(211, 211, 211, 0.521);
}

.navbar{
    height: 60px;
}

.nav-item{
    margin: 15px;
    font-size: 21px;
}

.pageSlide{
    height: 60%;
    width: 70%;
    background: rgba(0, 0, 0, 0.171);
}

.box{
    background: white;
    height: 225px;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
}

.footer{
    padding: 2.5px;
    background: lightslategrey;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serifs;
    font-size: 16px;
    text-align: center;
}
